<div class="row">
    <div class="col-xs-12 col-md-6">
        <app-alert (close)="onErrorHandler()" *ngIf="error" [message]="error"></app-alert>
        <div *ngIf="isLoading" style="text-align: center;">
            <app-load-spiner ></app-load-spiner>
        </div>
        <form *ngIf="!isLoading" (ngSubmit)="onSubmit(authForm)" #authForm="ngForm">
            <div class="form-group">
                <label for="email">Email</label>
                <input name="email" type="email" id="email" class="form-control" ngModel required email>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input name="password" type="password" id="password" class="form-control" ngModel required minlength="6">
            </div>

            <div class="buttons">
                <button [disabled]="authForm.invalid" class="btn btn-primary">{{ isLogin? 'Login': 'Sign Up'}}</button>
                <button (click)="onSwitchMode()" type="button" class="btn btn-primary">{{ isLogin? 'Switch to Signup': 'Switch to Login'}}</button>
            </div>
        </form>
    </div>
</div>